@charset "UTF-8";
/*
    container는 작은 화면의 외부 영역을 관리하는 도구
*/
.container-900 { width:900px; margin:0 auto; }
.container-800 { width:800px; margin:0 auto; }
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
/*
    row는 container 내부에 배치될 도구들이 위치할 자리에 해당한다
    - 상하 margin만 부여하여 간격을 띄워준다
*/
.row{
    margin: 10px 0px;
}
/*
    row 내부에 위치하는 도구들의 폭을 설정
    - 폭을 row에 맞게 100%로 설정하거나 아니면 자신의 폭을 그대로 사용
    - 아무 표시도 하지 않으면 폭을 있는 그대로 두고 클래스를 부여하면 100%로 변경
*/
width-100{
    width: 100%;
}
/* 어차피 왼쪽이 기본 정렬임*/
.center{text-align: center;}
.right{text-align: right;}
